name: root-signing repository tests with a Sigstore client

on:
  workflow_call:
    inputs:
      metadata_url:
        description: "URL of the sigstore TUF repository to test"
        required: true
        type: string

permissions: {}

env:
  METADATA_URL: ${{ inputs.metadata_url }}
  IDENTITY: ${{ github.server_url }}/${{ github.repository }}/.github/workflows/custom-test.yml@${{ github.ref }}

jobs:
  sigstore-python:
    permissions:
      id-token: 'write' # For signing with the GitHub workflow identity
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.x'

      - name: Install sigstore-python
        run: pip install sigstore

      - name: Trust the Sigstore instance
        run: |
          curl -o root.json ${METADATA_URL}/5.root.json
          python -m sigstore --instance ${METADATA_URL} trust-instance root.json

      - name: Test published repository with sigstore-python
        run: |
          touch artifact
          # sign, then verify using this workflows oidc identity
          python -m sigstore -vv --instance ${METADATA_URL} \
              sign --bundle artifact.sigstore.json artifact
          python -m sigstore --instance ${METADATA_URL} \
              verify github --cert-identity $IDENTITY --bundle artifact.sigstore.json artifact

          # sign again with rekor v1 for sigstore-js
          python -m sigstore -vv --instance ${METADATA_URL} \
              sign --rekor-version=1 --bundle artifact-rekor1.sigstore.json artifact

      - name: Upload the bundle for other clients to verify
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: bundle
          path: artifact*.sigstore.json
          overwrite: true

  cosign:
    permissions:
      id-token: 'write' # For signing with the GitHub workflow identity
    runs-on: ubuntu-latest
    steps:
      - uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Download initial root
        run: curl -o root.json ${METADATA_URL}/5.root.json

      - name: Test published repository with cosign
        run: |
          touch artifact

          # initialize from the published repository
          cosign initialize --root root.json --mirror ${METADATA_URL}

          # sign, then verify using this workflows oidc identity
          cosign sign-blob \
              --yes \
              --bundle bundle.json \
              artifact

          cosign verify-blob \
              --use-signed-timestamps=true \
              --certificate-identity $IDENTITY \
              --certificate-oidc-issuer https://token.actions.githubusercontent.com \
              --bundle bundle.json \
              artifact

  cosign-old-version:
    permissions:
      id-token: 'write' # For signing with the GitHub workflow identity
    runs-on: ubuntu-latest
    steps:
      - uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
        with:
          cosign-release: "v2.2.0"

      - name: Download initial root
        run: curl -o root.json ${METADATA_URL}/5.root.json

      - name: Test published repository with cosign 2.2
        run: |
          touch artifact

          # initialize from the published repository
          cosign initialize --root root.json --mirror ${METADATA_URL}

          # sign, then verify using this workflows oidc identity
          cosign sign-blob \
              --yes \
              --bundle bundle.json \
              artifact

          cosign verify-blob \
              --certificate-identity $IDENTITY \
              --certificate-oidc-issuer https://token.actions.githubusercontent.com \
              --bundle bundle.json \
              artifact

  sigstore-go:
    runs-on: ubuntu-latest
    needs: [sigstore-python]
    steps:
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: 'stable'

      - name: Install sigstore-go
        run: go install github.com/sigstore/sigstore-go/examples/sigstore-go-verification@latest

      - name: Download initial root
        run: curl -o root.json ${METADATA_URL}/5.root.json

      - name: Download bundle to verify
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: bundle

      - name: Test published repository with sigstore-go
        run: |
          touch artifact

          ~/go/bin/sigstore-go-verification \
              -tufRootURL $METADATA_URL \
              -tufTrustedRoot root.json \
              -expectedSAN $IDENTITY \
              -expectedIssuer https://token.actions.githubusercontent.com \
              -artifact artifact \
              artifact.sigstore.json

  sigstore-js:
    runs-on: ubuntu-latest
    needs: [sigstore-python]
    steps:
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0

      - name: Install sigstore-js
        run: npm install -g @sigstore/cli

      - name: Download initial root
        run: curl -o root.json ${METADATA_URL}/1.root.json

      - name: Download bundle to verify
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: bundle

      - name: Test published repository with sigstore-js
        run: |
          touch artifact

          sigstore verify \
              --tuf-mirror-url $METADATA_URL \
              --tuf-root-path root.json \
              --certificate-identity-uri $IDENTITY \
              --certificate-issuer https://token.actions.githubusercontent.com \
              --blob-file=artifact \
              artifact-rekor1.sigstore.json

  sigstore-java:
    runs-on: ubuntu-latest
    needs: [sigstore-python]
    steps:
      - name: Set up JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: 21
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: "sigstore/sigstore-java"
          fetch-tags: true
          fetch-depth: 0
          persist-credentials: false

      - name: Build cli from latest release tag, unpack distribution
        run: |
          git checkout $(git describe --tags --match="v[0-9]*" --abbrev=0 HEAD)
          ./gradlew :sigstore-cli:build
          tar -xvf sigstore-cli/build/distributions/sigstore-cli-*.tar --strip-components 1

      - name: Download bundle to verify
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: bundle

      - name: Test published repository with sigstore-java
        run: |
          touch artifact

          bin/sigstore-cli verify-bundle \
              --public-good-with-tuf-url-override $METADATA_URL \
              --bundle artifact.sigstore.json \
              --certificate-identity $IDENTITY \
              --certificate-oidc-issuer https://token.actions.githubusercontent.com \
              artifact

  sigstore-ruby:
    runs-on: ubuntu-latest
    needs: [sigstore-python]
    steps:
      - name: Set up Ruby
        uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
        with:
          ruby-version: 3.2

      - name: Install sigstore-ruby
        run: gem install sigstore-cli

      - name: Download and configure initial root
        run: |
          curl -o root.json ${METADATA_URL}/5.root.json
          METADATA_DIR=$(mktemp -d -t root-signing-ruby-test.XXXXXX)
          sigstore-cli tuf init root.json --metadata-dir=${METADATA_DIR}
          sigstore-cli tuf refresh --metadata-dir=${METADATA_DIR} --metadata-url=${METADATA_URL}

      - name: Download bundle to verify
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: bundle

      - name: Test published repository with sigstore-ruby
        run: |
          touch artifact

          sigstore-cli verify \
              --bundle=artifact-rekor1.sigstore.json \
              --certificate-identity=$IDENTITY \
              --certificate-oidc-issuer=https://token.actions.githubusercontent.com \
              artifact
