name: Sync Repository with GCS

# Execute this on changes to repository/repository/
on:
  # When a new root is published.
  push:
    branches:
      - main
    paths:
      - 'repository/repository/**'
  workflow_dispatch:

jobs:  
  sync:
    runs-on: ubuntu-20.04
    permissions:
      id-token: 'write'
    steps:
      - uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v2
        with:
          go-version: 1.17.x
      - uses: 'google-github-actions/setup-gcloud@v0.5.0'
        with:
          project_id: project-rekor
          install_components: alpha
      # Setup OIDC->SA auth
      - uses: 'google-github-actions/auth@v0.6.0'
        id: auth
        with:
          token_format: 'access_token'
          workload_identity_provider: 'projects/237800849078/locations/global/workloadIdentityPools/root-signing-pool/providers/sigstore-root'
          service_account: 'sigstore-root-signing@project-rekor.iam.gserviceaccount.com'
          create_credentials_file: true
      - name: Login
        run: |
          gcloud auth login --brief --cred-file="${{ steps.auth.outputs.credentials_file_path }}"
          gcloud auth list
      # Sync  
      # TODO(asraa): Use a stable API or switch to gsutil cp when gsutil supports  workload identity federation
      - name: sync
        run: | 
          gcloud alpha --quiet storage cp -r repository/repository/* gs://sigstore-tuf-root/
