#
# Copyright 2023 The Sigstore Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# This workflow is triggered when a ceremony branch is completed, creating a PR
# that merges the completed ceremony branch to main. 
# As a result, this updates the files in `repository/repository/**` at main, 
# thereby automatically triggering the `sync-main-to-preprod.yml` workflow.

name: Sync Published Ceremony Branch to Main

# Declare default permissions as none.
permissions: {}

on:
  schedule:
    - cron: '0 */12 * * *' # every 12 hours
  workflow_dispatch:
    inputs:
      branch:
        description: 'The branch to sync to main, generally ceremony/YYYY-MM-DD'
        required: true
        type: string
  push:
    # When any published repository metadata is changed on a ceremony/**
    # branch.
    branches:
      - ceremony/**
    paths:
      - 'repository/repository/**'

jobs:
  push:
    permissions:
      pull-requests: 'write'
      contents: 'write'
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
        with:
          fetch-depth: 0
          ref: ${{ github.event.repository.default_branch }}

      - name: create pull request
        uses: repo-sync/pull-request@7e79a9f5dc3ad0ce53138f01df2fad14a04831c5 # v2.12.1
        with:
          github_token: ${{ secrets.SIGSTORE_ROOT_SIGNING_FINE_GRAINED_PAT }}
          # Use the input branch on workflow_dispatch, or the triggering branch on push to a ceremony/** branch.
          source_branch: ${{ inputs.branch || github.ref_name }}
          destination_branch: ${{ github.event.repository.default_branch }}
          pr_title: "Merge ${{ github.ref_name }} into ${{ github.event.repository.default_branch }}"
          pr_body: "Merge ceremony branch to main"
          pr_reviewer: asraa,dlorenc,haydentherapper,joshuagl,kommendorkapten


