name: root-signing GCS repository tests

on:
  workflow_call:
  workflow_dispatch:
  schedule:
    - cron: '17 4,10,16,22 * * *'

permissions: {}

jobs:
  smoke-test:
    runs-on: ubuntu-latest
    steps:
      - name: Smoke test Sigstore staging repository with a TUF client
        uses: theupdateframework/tuf-on-ci/actions/test-repository@a486e2d6fcf93af4cb0f479e6a280f34125647d6 # v0.10.0
        with:
          metadata_url: https://tuf-repo-cdn.sigstage.dev/
          valid_days: 3
          offline_valid_days: 30

  custom-smoke-test:
    permissions:
      id-token: 'write' # For signing with the GitHub workflow identity
    uses: ./.github/workflows/custom-test.yml
    with:
      metadata_url: https://tuf-repo-cdn.sigstage.dev/

  update-issue:
    runs-on: ubuntu-latest
    needs: [smoke-test, custom-smoke-test]
    # During workflow_call, caller updates issue
    if: always() && !cancelled() && github.workflow == 'root-signing GCS repository tests'
    permissions:
      issues: 'write' # for modifying Issues
    steps:
      - name: Update the issue for the workflow
        uses: theupdateframework/tuf-on-ci/actions/update-issue@a486e2d6fcf93af4cb0f479e6a280f34125647d6 # v0.10.0
        with:
          token: ${{ secrets.TUF_ON_CI_TOKEN || secrets.GITHUB_TOKEN }}
          success: ${{ !contains(needs.*.result, 'failure') }}
