#
# Copyright 2022 The Sigstore Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: TUF Client tests

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - 'repository/**'
  pull_request:
    branches: [main]

jobs:
  client:
    runs-on: ubuntu-20.04
    steps:
      # Set up a repository server with python
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0
        with:
          fetch-depth: 2
      - run: |
          cd repository/repository/
          python -m http.server 8001 &
          echo "REPO=http://localhost:8001" >> $GITHUB_ENV
      # Test with go-tuf client
      - uses: actions/setup-go@d0a58c1c4d2b25278816e339b944508c875f3613 # v2.2.0
        with:
          go-version: '1.18.x'
      - run: |
          go install github.com/theupdateframework/go-tuf/cmd/tuf-client@v0.5.1
      - run: |
          # Only 5.root.json is compatible with new versions of go-tuf
          if [ -f repository/repository/5.root.json ]; then
            tuf-client init http://localhost:8001 repository/repository/5.root.json
            tuf-client list http://localhost:8001
          fi
          # Verify with a go-tuf client that can understand deprecated keys
          go run ./tests/client-tests init http://localhost:8001 repository/repository/1.root.json
          go run ./tests/client-tests list http://localhost:8001
      # Test with rust client
      - name: Install tuftool
        uses: actions-rs/install@9da1d2adcfe5e7c16992e8242ca33a56b6d9b101 # v0.1.2
        with:
          crate: tuftool
          version: "0.8.1"
      - run: |
          tuftool download out \
            --root repository/repository/2.root.json \
            -t http://localhost:8001/targets \
            -m http://localhost:8001
      # Test with python-tuf ngclient
      - run: |
          python3 -m pip install securesystemslib[crypto,pynacl] tuf
          python3 tests/client-tests/python-tuf.py
