#
# Copyright 2021 The Sigstore Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: CI Validate

on:
  push:
    paths:
      - 'ceremony/**'
      - 'repository/**'
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
        with:
          fetch-depth: 2
      - run: |
          echo "REPO=$(pwd)/repository" >> $GITHUB_ENV
          echo "CDN_REPO=https://tuf-repo-cdn.sigstore.dev" >> $GITHUB_ENV
          echo "CDN_PREPROD_REPO=https://tuf-preprod-repo-cdn.sigstore.dev" >> $GITHUB_ENV
      - uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753 # v4.0.1
        with:
          go-version: '1.20'
          check-latest: true
      - name: install deps
        run: |
          sudo apt-get install libpcsclite-dev
          curl -fsO https://developers.yubico.com/PIV/Introduction/piv-attestation-ca.pem
      - name: build
        run: go build -o verify ./cmd/verify/
      - name: build
        run: go build -o tuf -tags=pivkey ./cmd/tuf
      - name: verify local published repository
        run: ./verify repository --repository $REPO --root $(pwd)/ceremony/2021-06-18/repository/root.json
      - name: verify CDN remote published repository
        run: ./verify repository --repository $CDN_REPO --root $(pwd)/ceremony/2021-06-18/repository/root.json
      - name: verify CDN preprod remote published repository
        run: ./verify repository --repository $CDN_PREPROD_REPO --root $(pwd)/ceremony/2021-06-18/repository/root.json
      - name: verify staged ceremony changes
        run: |
          set -euo pipefail
          export CHANGED=$(git diff --name-only HEAD^ HEAD ceremony/20* | grep ".*staged.*" | head -1)
          echo "$CHANGED"
          if [ -n "$CHANGED" ]; then
            export REPO=$(echo "$CHANGED" | cut -d/ -f 1-2)
            ./verify repository --repository "$REPO" --staged true
          fi
