name: CI Validate

on:
  push:
    branches: [ main ]
    paths:
      - 'ceremony/**'
      - 'repository/**'
  pull_request:
    branches: [ main ]

jobs:  
  validate:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0
      - run: |
          echo "REPO=$(pwd)/repository" >> $GITHUB_ENV
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16.4'
      - name: root
        run: curl -fsO https://developers.yubico.com/PIV/Introduction/piv-attestation-ca.pem
      - name: build
        run: go build -o verify ./cmd/verify/
        - name: build
        run: go build -o tuf -tags=pivkey ./cmd/tuf
      - name: verify
        run: ./verify --root piv-attestation-ca.pem --repository $REPO --tuf-root $REPO/repository/1.root.json
